 .fish1{
    position: absolute;
    top: -550px;
     --animate-duration: 0.75s;
    max-width: 2000px;
    margin: 200px;
  
  }
  .fish{
    position: relative;
    top: 0;
    left: 0;
    
  }
  .align{
    text-align: center;
  }
  
  .paragraph {
    color: white;
    margin: 190px;
    max-width: 2000px;
    font-size: 18px;
    margin-top: 0px;
  }


  .card-name{
    width: 58%;
    height: 50%;
  }
  .row .card-text {
    font-size: 22px;
    max-width: 1000px;
  }
  .row .card-title {
    font-size: 26px;
    max-width: 1000px;
  }
  .aboutAuthor p{
    font-size: 30px;
  }

  @media (max-width: 768px){
    .paragraph {
      color: white;
      margin: 50px;
      max-width: 1000px;
      font-size: 16px;
      margin-top: -150px;
    }
    .fish1{
      position: absolute;
      top: -150px;
       --animate-duration: 0.75s;
      max-width: 1000px;
      margin: 50px;
    
    }
    .card-title{
      font-size: 15px;
    }
    .card-text{
      font-size: 12px;
    }
    .row .card-text{
      font-size: 18px;
    }
    .card-name{
      border-radius: 20px;margin-left: auto;margin-top: 20px; width:50%;margin-right: auto;
    }
    .row .card-text {
      font-size: 14px;
      max-width: 1000px;
  }
  .card-name{
    width: 100%;
  }
  .aboutAuthor p{
    font-size: 20px;
  }
  }
 